.pointer {
	cursor: pointer;
}
.ui.grid.container:first-child {
	padding-top: 3em;
}
.icon.trip.header {
	font-size: 10px;
	margin: 0 0 0 0;
}
/* Hide if the train is departured */
.ui.table tr.display-none {
	display: none !important;
}
.ui.card.display-none {
	display: none !important;
}
/* Font Size */
.departure-time {
	font-size: 1.2em;
}
