.pointer {
	cursor: pointer;
}
.ui.grid.container:first-child {
	padding-top: 3em;
}
.icon.trip.header {
	font-size: 10px;
	margin: 0 0 0 0;
}
/* Disabled override */
.ui.table tr.display-none {
	display: none !important;
}
.ui.table tr.disabled-color td * {
	color: rgba(40, 40, 40, .3) !important;
}
.ui.table tr.disabled-color td .label:not(.basic) {
	background-color: rgba(40, 40, 40, .3) !important;
}
.ui.table tr.disabled-color td .label.basic {
	color: rgba(40, 40, 40, .3) !important;
	border: 1px solid rgba(40, 40, 40, .3) !important;
}
