<div class="row">
	<div class="ui sixteen wide column">

		<h3 class="header">
			關於本站
		</h3>
		<p>
			No bullshit.
		</p>

		<h3 class="header">目的是什麼</h3>
		<p>速度快，直覺的時刻表查詢方式。</p>

		<h3 class="header">使用方法</h3>
		<p>
			格式：<b>起站 迄站 [時間]</b>  <i>(空白分隔)</i>
		</p>
		<p>
			「中壢 臺北」「高雄 台南」「民雄 嘉義」「斗六 員林」
			<br>
			「臺北 桃園 明天」「民雄 嘉義 星期六」「斗六 員林 12/8」「汐止 基隆 12月8日」
		</p>
		<p>
			時間支援：「星期六」「週六」「12/8」「12-8」「12月8日」「今天」「明天」「大後天」
			<br>
			車站查詢：請用全名，沒有縮寫 (北車、高火)
		</p>
		<h3 class="header">
			資料來源
		</h3>
		<p>
			交通部開放資料平台
		</p>
		<h3 class="header">
			關於本專案
		</h3>
		<p>
			Author: <a href="http://benyi.tw" target="_blank">Benyi</a>
			<br>
			Github: <a href="https://github.com/banqhsia/tra-info" target="_blank">https://github.com/banqhsia/tra-info</a>
			<br>
			如果有任何問題，歡迎來信詢問
		</p>

	</div>
</div>
