
	<div class="row">

		<div class="ui sixteen wide column">

			<div class="ui form">
				<div class="field">
					<input type="text" ng-model="keyword" placeholder="查詢資料" autofocus>
				</div>
			</div>

		</div>

	</div>

	<div class="row">

		<div class="ui sixteen wide column">

			<table class="ui definition table">
				<thead>
					<th class="two wide"></th>
					<th class="one wide">
						<h4 class="ui header">編號
							<div class="sub header">Code</div>
						</h4>
					</th>
					<th class="three wide">
						<h4 class="ui header">電話
							<div class="sub header">Telephone</div>
						</h4>
					</th>
					<th class="five wide">
						<h4 class="ui header">地址
							<div class="sub header">Address</div>
						</h4>
					</th>
				</thead>
				<tbody>
					<tr class="pointer" ng-repeat="station in stations | filter: keyword " ng-click="goToStationInfo(station.Station_Code_4)">
						<td>
							<h3 class="ui header">{{ station.Station_Name }}
								<div class="sub header">{{ station.EnglishName }}</div>
							</h3>
						</td>
						<td>{{ station.Station_Code_3 }}</td>
						<td>{{ station.Telephone }}</td>
						<td>
							{{ station.ChineseAddress }}
							<div class="content">
								{{ station.EnglishAddress }}
							</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
