<div class="ui active inverted dimmer" ng-if="success.status == 'loading'">
	<div class="ui text loader">載入中</div>
</div>

<div class="row">

	<div class="ui sixteen wide column">

		<div class="ui form">
			<div class="field">
				<div class="ui left action icon input">
					<button class="ui icon button" ng-click="searchEmpty()"><i class="trash icon"></i></button>
					<input type="text" ng-model="keyword" on-enter="search()" placeholder="中壢 台北 明天 自強號" autofocus>
					<i class="inverted circular search link icon" ng-click="search()"></i>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="row">

	<div class="ui sixteen wide column">

		<div class="ui green message" ng-if="!timeTables && success.status != false && success.status != 'loading'">
			<div class="header">請輸入關鍵字查詢列車時刻</div>
			<p>輸入起迄站 (+時間) (+車種) 即可。「中壢 新竹」「新左營 鳳山 11/7」「嘉義 民雄 週四 莒光號」</p>
		</div>

		<!-- Info Segment -->
		<div class="ui secondary segment" ng-if="timeTables">
			<div class="ui grid stackable">

				<div class="eleven wide column message">
					<h3 class="ui header">

						{{ period.humanize }}

						<div class="ui sub header">
							<a class="pointer" ng-click="goToStationInfo(sdStations.startStation.Station_Code_4)">{{ sdStations.startStation.Station_Name }}</a> 到
							<a class="pointer" ng-click="goToStationInfo(sdStations.destStation.Station_Code_4)">{{ sdStations.destStation.Station_Name }}</a>

							的
							<span class="ui pointer" ng-click="clearFilter()">
								{{ trainClassMap.desc || '所有列車' }}
								<i class="delete red icon" ng-if="trainClassMap"></i>
							</span>

						</div>

					</h3>
					<p>
						共有 {{ timeTables.length }} 班列車
						<span ng-if="trainClassMap">，顯示 {{ (timeTables | trainClassFilter: trainClassMap.list ).length }} 個結果</span>
					</p>
				</div>

				<!-- Fares Table -->
				<div class="ui five wide column" ng-if="fares">
					<table class="ui very compact unstackable very basic table">
						<thead>
							<tr>
								<th class="two wide"></th>
								<th class="two wide">自強</th>
								<th class="two wide">莒光</th>
								<th class="two wide">區間</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>票價</td>
								<td>{{ ( "1100" | trainFare: fares) | currency: '$':0 || '' }}</td>
								<td>{{ ( "1110" | trainFare: fares) | currency: '$':0 || '' }}</td>
								<td>{{ ( "1120" | trainFare: fares) | currency: '$':0 || '' }}</td>
							</tr>
						</tbody>
					</table>
				</div> <!-- END OF SIX WIDE COLUMN -->
			</div>
		</div> <!-- END OF SECONDARY SEGMENT -->

		<div class="ui red message" ng-if="success.status == false">
			<div class="header">{{ success.title }}</div>
			<p>{{ success.msg }}</p>
		</div>

		<!-- 隱藏已離站列車 toggle -->
		<div class="ui toggle checkbox" ng-show="period.today && timeTables">
			<input type="checkbox" ng-model="hideDepartured" ng-init="hideDepartured = true">
			<label>隱藏已離站列車</label>
		</div>

	</div>

</div>

<!-- COMPUTER ONLY ROW -->
<div class="computer only row" ng-if="timeTables.length > 0">
	<div class="ui sixteen wide column">

		<table class="ui selectable striped definition table">
			<thead>
				<th class="two wide"></th>
				<th class="one wide center aligned">
					<h4 class="ui header">經由
						<div class="sub header">Via</div>
					</h4>
				</th>
				<th class="two wide center aligned">
					<h4 class="ui header">開車時間
						<div class="sub header">Departure</div>
					</h4>
				</th>
				<th class="two wide center aligned"></th>
				<th class="two wide center aligned">
					<h4 class="ui header">抵達時間
						<div class="sub header">Arrival</div>
					</h4>
				</th>
				<th class="five wide">
					<h4 class="ui header">其他
						<div class="sub header">Information</div>
					</h4>
				</th>

				<th class="one wide" ng-show="period.today && delay">
					<h4 class="ui header">誤點
						<div class="sub header">Delay</div>
					</h4>
				</th>
				<th class="one wide">
					<h4 class="ui header">票價
						<div class="sub header">Fare</div>
					</h4>
				</th>
			</thead>
			<tbody>
				<tr class="pointer" ng-hide="( hideDepartured ) && (item.OriginStopTime.DepartureTime | isDepartured: period.date)" ng-repeat="item in timeTables | trainClassFilter: trainClassMap.list" ng-click="goToTrainInfo(item.DailyTrainInfo.TrainNo)">
					<!-- 車次 -->
					<td>
						<h3 class="ui {{ item.DailyTrainInfo.TrainClassificationID | trainClass: true }} header">{{ item.DailyTrainInfo.TrainClassificationID | trainClass }}
							<div class="sub header">{{ item.DailyTrainInfo.TrainNo }}</div>
						</h3>
					</td>

					<!-- 經由 -->
					<td class="center aligned">
						 <a class="ui circular basic {{ item.DailyTrainInfo.TripLine | tripLine: true }} label" ng-if="item.DailyTrainInfo.TripLine">
							 {{ item.DailyTrainInfo.TripLine | tripLine }}
						</a>
					</td>

					<!-- 出發時間 -->
					<td class="center aligned departure-time">{{ item.OriginStopTime.DepartureTime }}</td>

					<!-- 途經 -->
					<td class="center aligned">
						<h5 class="ui trip icon header">
							<i class="arrow right icon"></i>
							<div class="sub header">
								{{ item.OriginStopTime.DepartureTime | timeDiff: item.DestinationStopTime.ArrivalTime }}
							</div>
						</h5>
					</td>

					<!-- 抵達時間 -->
					<td class="center aligned">{{ item.DestinationStopTime.ArrivalTime }}</td>

					<td>
						<div class="ui basic grey horizontal medium label">
							{{ item.DestinationStopTime.StopSequence - item.OriginStopTime.StopSequence}}站
						</div>

						<div class="ui blue horizontal medium label" ng-if="item.DailyTrainInfo.WheelchairFlag">
							輪椅
						</div>

						<div class="ui pink horizontal medium label" ng-if="item.DailyTrainInfo.BreastFeedingFlag">
							哺乳室
						</div>

						<div class="ui green horizontal medium label" ng-if="item.DailyTrainInfo.BikeFlag">
							自行車
						</div>

						<div class="ui yellow  horizontal medium label" ng-if="item.DailyTrainInfo.Note.Zh_tw | DMULabel ">
							柴聯
						</div>

						{{ item.DailyTrainInfo.Note.Zh_tw | noteFormat }}

					</td>

					<!-- 誤點 -->
					<td ng-show="period.today && delay">
						<div ng-if="(item.DailyTrainInfo.TrainNo | isDelay: delay) !== false">
							<div class="ui circular empty {{ (item.DailyTrainInfo.TrainNo | isDelay: delay) == 0 ? 'green' : 'yellow' }} horizontal medium label"></div>{{ (item.DailyTrainInfo.TrainNo | isDelay: delay) ? (item.DailyTrainInfo.TrainNo | isDelay: delay) : ''}}
						</div>
					</td>

					<!-- 票價 -->
					<td>
						<p ng-if="fares">{{ (item.DailyTrainInfo.TrainClassificationID | trainFare: fares) | currency: '$':0 || '' }}</p>
					</td>

				</tr>
			</tbody>
		</table>

	</div>

</div><!-- END OF COMPUTER ONLY ROW  -->


<!-- MOBILE TABLET ONLY -->
<div class="mobile tablet only row" ng-if="timeTables.length > 0">

	<div class="ui sixteen wide column">
		<div class="ui fluid card pointer" ng-hide="( hideDepartured ) && (item.OriginStopTime.DepartureTime | isDepartured: period.date)" ng-repeat="item in timeTables | trainClassFilter: trainClassMap.list" ng-click="goToTrainInfo(item.DailyTrainInfo.TrainNo)">

			<div class="content">
				<!-- 經由 -->
				<div class="right floated ui">
					<a class="ui circular basic {{ item.DailyTrainInfo.TripLine | tripLine: true }} label" ng-if="item.DailyTrainInfo.TripLine">
						{{ item.DailyTrainInfo.TripLine | tripLine }}
				   </a>
				</div>

				<!-- 車次 -->
				<div>
					<h4 class="ui {{ item.DailyTrainInfo.TrainClassificationID | trainClass: true }} header">{{ item.DailyTrainInfo.TrainClassificationID | trainClass }}
						<div class="sub header">{{ item.DailyTrainInfo.TrainNo }}</div>
					</h4>
				</div>

				<!-- 誤點 -->
				<div class="meta">
					<div ng-if="period.today && delay && (item.DailyTrainInfo.TrainNo | isDelay: delay) !== false">
						<div class="ui circular empty {{ (item.DailyTrainInfo.TrainNo | isDelay: delay) == 0 ? 'green' : 'yellow' }} horizontal medium label"></div>{{ (item.DailyTrainInfo.TrainNo | isDelay: delay) ? (item.DailyTrainInfo.TrainNo | isDelay: delay) : ''}}
					</div>
				</div>
				<div class="description">
					<div class="ui grid">
						<!-- 出發時間 -->
						<div class="three wide column departure-time">{{ item.OriginStopTime.DepartureTime }}</div>
						<!-- 箭頭 -->
						<div class="two wide column"><i class="arrow right icon"></i></div>
						<!-- 抵達 -->
						<div class="three wide column">{{ item.DestinationStopTime.ArrivalTime }}</div>
						<!-- 途經 -->
						<div class="five wide center aligned column">{{ item.OriginStopTime.DepartureTime | timeDiff: item.DestinationStopTime.ArrivalTime }}</div>
						<!-- 票價 -->
						<div class="three wide right aligned column">
							<p ng-if="fares">
								{{ (item.DailyTrainInfo.TrainClassificationID | trainFare: fares) | currency: '$':0 || '' }}
							</p>
						</div>

					</div>

				</div>
			</div>
			<div class="extra content">

				<div class="ui basic grey horizontal medium label">
					{{ item.DestinationStopTime.StopSequence - item.OriginStopTime.StopSequence}}站
				</div>

				<div class="ui blue horizontal medium label" ng-if="item.DailyTrainInfo.WheelchairFlag">
					輪椅
				</div>

				<div class="ui pink horizontal medium label" ng-if="item.DailyTrainInfo.BreastFeedingFlag">
					哺乳室
				</div>

				<div class="ui green horizontal medium label" ng-if="item.DailyTrainInfo.BikeFlag">
					自行車
				</div>

				<div class="ui yellow  horizontal medium label" ng-if="item.DailyTrainInfo.Note.Zh_tw | DMULabel ">
					柴聯
				</div>

				{{ item.DailyTrainInfo.Note.Zh_tw | noteFormat }}

			</div>
		</div>

	</div><!-- END OF 16 WIDE COLUMN -->
</div><!-- END OF MOBILE, TABLET ONLY ROW  -->
