<div class="row">

	<div class="ui sixteen wide column">

		<div class="ui form">
			<div class="field">
				<div class="ui left action icon input">
					<button class="ui icon button"><i class="exchange icon"></i></button>
					<input type="text" ng-model="keyword" on-enter="search()" placeholder="中壢 台北" autofocus>
					<i class="inverted circular search link icon" ng-click="search()"></i>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="row" ng-if="timeTables">

	<div class="ui sixteen wide column">

		<div class="ui message">
			<div class="header"> {{ period.humanize }}，{{ keywordArray[0] }} 到 {{ keywordArray[1] }} 的列車</div>
			<p>共有 {{ timeTables.length }} 班列車</p>
		</div>

	</div>

</div>

<div class="row" ng-if="timeTables">

	<div class="ui sixteen wide column">

		<table class="ui definition table">
			<thead>
				<th class="two wide"></th>
				<th class="one wide center aligned">
					<h4 class="ui header">經由
						<div class="sub header">Via</div>
					</h4>
				</th>
				<th class="two wide center aligned">
					<h4 class="ui header">開車時間
						<div class="sub header">Departure</div>
					</h4>
				</th>
				<th class="two wide center aligned"></th>
				<th class="two wide center aligned">
					<h4 class="ui header">抵達時間
						<div class="sub header">Arrival</div>
					</h4>
				</th>
				<th class="seven wide">
					<h4 class="ui header">其他
						<div class="sub header">Information</div>
					</h4>
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in timeTables">
					<!-- 車次 -->
					<td>
						<h3 class="ui {{ item.DailyTrainInfo.TrainClassificationID | trainClass: true }} header">{{ item.DailyTrainInfo.TrainClassificationID | trainClass }}
							<div class="sub header">{{ item.DailyTrainInfo.TrainNo }}</div>
						</h3>
					</td>

					<!-- 經由 -->
					<td class="center aligned">{{ item.DailyTrainInfo.TripLine | tripLine }}</td>

					<!-- 出發時間 -->
					<td class="center aligned">{{ item.OriginStopTime.DepartureTime }}</td>

					<!-- 途經 -->
					<td class="center aligned">
						<h5 class="ui trip icon header">
							<i class="arrow right icon"></i>
							<div class="sub header">
								{{ item.OriginStopTime.DepartureTime | timeDiff: item.DestinationStopTime.ArrivalTime }}
							</div>
						</h5>
					</td>

					<!-- 抵達時間 -->
					<td class="center aligned">{{ item.DestinationStopTime.ArrivalTime }}</td>

					<td>
						<div class="ui basic grey horizontal medium label">
							{{ item.DestinationStopTime.StopSequence - item.OriginStopTime.StopSequence}}站
						</div>

						<div class="ui blue horizontal medium label" ng-if="item.DailyTrainInfo.WheelchairFlag">
							輪椅
						</div>

						<div class="ui pink horizontal medium label" ng-if="item.DailyTrainInfo.BreastFeedingFlag">
							哺乳室
						</div>

						<div class="ui green horizontal medium label" ng-if="item.DailyTrainInfo.BikeFlag">
							自行車
						</div>

						{{ item.DailyTrainInfo.Note.Zh_tw | noteFormat }}

					</td>

				</tr>
			</tbody>
		</table>

	</div>

</div>
