<div class="ui active inverted dimmer" ng-if="success.status == 'loading'">
	<div class="ui text loader">載入中</div>
</div>

<div class="row">

	<div class="ui sixteen wide column">

		<div class="ui form">
			<div class="field">
				<div class="ui left action icon input">
					<button class="ui icon button" ng-click="searchEmpty()"><i class="trash icon"></i></button>
					<input type="text" ng-model="keyword" on-enter="search()" placeholder="中壢 台北 明天" autofocus>
					<i class="inverted circular search link icon" ng-click="search()"></i>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="row">

	<div class="ui sixteen wide column">

		<div class="ui green message" ng-if="!timeTables && success.status != false && success.status != 'loading'">
			<div class="header">請輸入關鍵字查詢列車時刻</div>
			<p>輸入起迄站 (+時間) 即可。「中壢 新竹」「新左營 鳳山 11/7」「嘉義 民雄 週四」</p>
		</div>

		<div class="ui message" ng-if="timeTables">
			<div class="header"> {{ period.humanize }}，{{ keywordArray[0] }} 到 {{ keywordArray[1] }} 的列車</div>
			<p>共有 {{ timeTables.length }} 班列車</p>
		</div>

		<div class="ui red message" ng-if="success.status == false">
			<div class="header">{{ success.title }}</div>
			<p>{{ success.msg }}</p>
		</div>

		<!-- 隱藏已離站列車 toggle -->
		<div class="ui toggle checkbox" ng-show="period.today && timeTables">
			<input type="checkbox" ng-model="showDepartured" ng-init="showDepartured = true">
			<label>隱藏已離站列車</label>
		</div>

	</div>

</div>


<div class="row" ng-if="timeTables.length > 0">

	<div class="ui sixteen wide column">

		<table class="ui selectable striped definition table">
			<thead>
				<th class="two wide"></th>
				<th class="one wide center aligned">
					<h4 class="ui header">經由
						<div class="sub header">Via</div>
					</h4>
				</th>
				<th class="two wide center aligned">
					<h4 class="ui header">開車時間
						<div class="sub header">Departure</div>
					</h4>
				</th>
				<th class="two wide center aligned"></th>
				<th class="two wide center aligned">
					<h4 class="ui header">抵達時間
						<div class="sub header">Arrival</div>
					</h4>
				</th>
				<th class="five wide">
					<h4 class="ui header">其他
						<div class="sub header">Information</div>
					</h4>
				</th>

				<th class="one wide" ng-show="period.today && delay">
					<h4 class="ui header">誤點
						<div class="sub header">Delay</div>
					</h4>
				</th>
				<th class="one wide">
					<h4 class="ui header">票價
						<div class="sub header">Fare</div>
					</h4>
				</th>
			</thead>
			<tbody>
				<tr class="pointer {{ ( showDepartured ) ? (item.OriginStopTime.DepartureTime | isDepartured: period.date) : '' }}" ng-repeat="item in timeTables" ng-click="goToTrainInfo(item.DailyTrainInfo.TrainNo)">
					<!-- 車次 -->
					<td>
						<h3 class="ui {{ item.DailyTrainInfo.TrainClassificationID | trainClass: true }} header">{{ item.DailyTrainInfo.TrainClassificationID | trainClass }}
							<div class="sub header">{{ item.DailyTrainInfo.TrainNo }}</div>
						</h3>
					</td>

					<!-- 經由 -->
					<td class="center aligned">
						 <a class="ui circular basic {{ item.DailyTrainInfo.TripLine | tripLine: true }} label" ng-if="item.DailyTrainInfo.TripLine">
							 {{ item.DailyTrainInfo.TripLine | tripLine }}
						</a>
					</td>

					<!-- 出發時間 -->
					<td class="center aligned">{{ item.OriginStopTime.DepartureTime }}</td>

					<!-- 途經 -->
					<td class="center aligned">
						<h5 class="ui trip icon header">
							<i class="arrow right icon"></i>
							<div class="sub header">
								{{ item.OriginStopTime.DepartureTime | timeDiff: item.DestinationStopTime.ArrivalTime }}
							</div>
						</h5>
					</td>

					<!-- 抵達時間 -->
					<td class="center aligned">{{ item.DestinationStopTime.ArrivalTime }}</td>

					<td>
						<div class="ui basic grey horizontal medium label">
							{{ item.DestinationStopTime.StopSequence - item.OriginStopTime.StopSequence}}站
						</div>

						<div class="ui blue horizontal medium label" ng-if="item.DailyTrainInfo.WheelchairFlag">
							輪椅
						</div>

						<div class="ui pink horizontal medium label" ng-if="item.DailyTrainInfo.BreastFeedingFlag">
							哺乳室
						</div>

						<div class="ui green horizontal medium label" ng-if="item.DailyTrainInfo.BikeFlag">
							自行車
						</div>

						{{ item.DailyTrainInfo.Note.Zh_tw | noteFormat }}

					</td>

					<!-- 誤點 -->
					<td ng-show="period.today && delay">
						<div ng-if="(item.DailyTrainInfo.TrainNo | isDelay: delay) !== false">
							<div class="ui circular empty {{ (item.DailyTrainInfo.TrainNo | isDelay: delay) == 0 ? 'green' : 'yellow' }} horizontal medium label"></div>{{ (item.DailyTrainInfo.TrainNo | isDelay: delay) ? (item.DailyTrainInfo.TrainNo | isDelay: delay) : ''}}
						</div>
					</td>

					<!-- 票價 -->
					<td>
						<p ng-if="fares">{{ (item.DailyTrainInfo.TrainClassificationID | trainFare: fares) | currency: '$':0 || '' }}</p>
					</td>

				</tr>
			</tbody>
		</table>

	</div>

</div>
