<div class="ui active inverted dimmer" ng-if="success.status == 'loading'">
	<div class="ui text loader">載入中</div>
</div>

<div class="row">

	<div class="ui sixteen wide column">

		<div class="ui red segment">
			<h2 class="ui header">{{ station.WebsiteName }} <p>{{ station.Station_EName }} Station</p>
				<div class="sub header">
					{{ period.humanize }}，共有 {{ trainInfo.length }} 班列車。
				</div>

			</h2>

			<div class="ui list">
				<div class="item">
					<div class="ui orange horizontal label">電話</div>
					{{ station.Telephone  }}
				</div>
				<div class="item">
					<div class="ui green horizontal label">地址</div>
					{{ station.ChineseAddress }}
				</div>
			</div>

			<!-- 隱藏已離站列車 toggle -->
			<div class="ui toggle checkbox" ng-show="period.today && trainInfo">
				<input type="checkbox" ng-model="hideDepartured" ng-init="hideDepartured = true">
				<label>隱藏已離站列車</label>
			</div>

		</div>

	</div>
</div>
<div class="row">
	<div class="ui sixteen wide column">

		<div class="ui two buttons">
			<div class="ui button {{ (direction == 0) ? 'active' : '' }}" ng-click="directionSwitch(0)">順行</div>
			<div class="ui button {{ (direction == 1) ? 'active' : '' }}" ng-click="directionSwitch(1)">逆行</div>
		</div>

	</div>
</div>

<!-- COMPUTER TABLET ONLY -->
<div class="computer tablet only row">

	<div class="ui sixteen wide column">

		<table class="ui selectable striped definition table">
			<thead>
				<th class="two wide">詳細資料</th>

				<th class="one wide center aligned">
					<h4 class="ui header">經由
						<div class="sub header">Via</div>
					</h4>
				</th>

				<th class="two wide center aligned">
					<h4 class="ui header">開車時間
						<div class="sub header">Departure</div>
					</h4>
				</th>
				<th class="one wide left aligned" ng-show="period.today && delay">
					<h4 class="ui header">誤點
						<div class="sub header">Delay</div>
					</h4>
				</th>
				<th class="two wide center aligned"></th>
				<th class="two wide center aligned">
					<h4 class="ui header">終點站
						<div class="sub header">Destination</div>
					</h4>
				</th>

			</thead>
			<tbody>
				<tr class="pointer" ng-hide="( hideDepartured ) && (item.DepartureTime | isDepartured: period.date)" ng-repeat="item in trainInfo | filter: { Direction: direction }"  ng-click="goToTrainInfo(item.TrainNo)">
					<!-- 車次 -->
					<td>
						<h3 class="ui {{ item.TrainClassificationName.Zh_tw | trainClassZH: true }} header">{{ item.TrainClassificationName.Zh_tw | trainClassZH }}
							<div class="sub header">{{ item.TrainNo }}</div>
						</h3>
					</td>

					<!-- 經由 -->
					<td class="center aligned">
						 <a class="ui circular basic {{ item.TripLine | tripLine: true }} label" ng-if="item.TripLine">
							 {{ item.TripLine | tripLine }}
						</a>
					</td>

					<!-- 出發時間 -->
					<td class="center aligned departure-time">{{ item.DepartureTime }}</td>

					<!-- 誤點 -->
					<td ng-show="period.today && delay">
						<div ng-if="(item.TrainNo | isDelay: delay) !== false">
							<div class="ui circular empty {{ (item.TrainNo | isDelay: delay) == 0 ? 'green' : 'yellow' }} horizontal medium label"></div>{{ (item.TrainNo | isDelay: delay) ? (item.TrainNo | isDelay: delay) : ''}}
						</div>
					</td>

					<!-- 途經 -->
					<td class="center aligned">
						<h5 class="ui trip icon header">
							<i class="arrow right icon"></i>
							<div class="sub header">
								<!-- Arrow Note -->
							</div>
						</h5>
					</td>

					<!-- 終點站 -->
					<td class="center aligned">
						<h5 class="ui header">
							{{ (item.EndingStationID | searchStation).Station_Name }}
							<div class=" sub header">
								{{ (item.EndingStationID | searchStation).Station_EName }}
							</div>
						</h5>
					</td>

				</tr>
			</tbody>
		</table>

	</div>

</div>


<!-- MOBILE TABLET ONLY -->
<div class="mobile tablet only row">

	<div class="ui sixteen wide column">
		<div class="ui fluid card pointer" ng-hide="( hideDepartured ) && (item.DepartureTime | isDepartured: period.date)" ng-repeat="item in trainInfo | filter: { Direction: direction }"  ng-click="goToTrainInfo(item.TrainNo)">

			<div class="content">

				<!-- 經由 -->
				<div class="right floated ui">
					<a class="ui circular basic {{ item.TripLine | tripLine: true }} label" ng-if="item.TripLine">
						{{ item.TripLine | tripLine }}
				   </a>
				</div>

				<!-- 誤點 -->
				<div class="right floated ui">
					<div ng-if="period.today && delay && (item.TrainNo | isDelay: delay) !== false">
						<div class="ui circular empty {{ (item.TrainNo | isDelay: delay) == 0 ? 'green' : 'yellow' }} horizontal medium label"></div>{{ (item.TrainNo | isDelay: delay) ? (item.TrainNo | isDelay: delay) : ''}}
					</div>
				</div>

				<!-- 車次 -->
				<div>
					<h4 class="ui {{ item.TrainClassificationName.Zh_tw | trainClassZH: true }} header">{{ item.TrainClassificationName.Zh_tw | trainClassZH }}
						<div class="sub header">{{ item.TrainNo }}</div>
					</h4>
				</div>

				<div class="description">
					<div class="ui grid">
						<!-- 出發時間 -->
						<div class="five wide column departure-time">{{ item.DepartureTime }}</div>
						<!-- 箭頭 -->
						<div class="two wide column"><i class="arrow right icon"></i></div>
						<!-- 終點站 -->
						<div class="seven wide column">
							{{ (item.EndingStationID | searchStation).Station_Name }}
							{{ (item.EndingStationID | searchStation).Station_EName }}
						</div>
					</div>
				</div>

			</div>
		</div>

	</div><!-- END OF 16 WIDE COLUMN -->
</div><!-- END OF MOBILE, TABLET ONLY ROW  -->
