<div class="ui active inverted dimmer" ng-if="success.status == 'loading'">
	<div class="ui text loader">載入中</div>
</div>

<div class="row" ng-if="trainInfo">

	<div class="ui computer only sixteen wide column">
		<button class="ui icon button" ng-click="goToTimeTable()">
			<i class="chevron left icon"></i> 返回
		</button>
	</div>

	<div class="ui mobile tablet only sixteen wide column">
		<button class="ui fluid icon button" ng-click="goToTimeTable()">
			<i class="chevron left icon"></i> 返回
		</button>
	</div>

</div>

<div class="row" ng-if="trainInfo">

	<div class="ui sixteen wide column">

		<div class="ui  {{ trainInfo.DailyTrainInfo.TrainClassificationID | trainClass: true }} segment">
			<h2 class="ui header">{{ trainInfo.DailyTrainInfo.TrainNo }} {{ trainInfo.DailyTrainInfo.TrainClassificationID | trainClass }}
				<div class="sub header">
					{{ period.humanize }}，<b>{{ trainInfo.StopTimes[0].StationName.Zh_tw }}</b>到<b>{{ trainInfo.StopTimes[trainInfo.StopTimes.length-1].StationName.Zh_tw }}</b>
				</div>
			</h2>

			<div class="ui circular horizontal basic {{ trainInfo.DailyTrainInfo.TripLine | tripLine: true }} label" ng-if="trainInfo.DailyTrainInfo.TripLine">
				{{ trainInfo.DailyTrainInfo.TripLine | tripLine }}
		   </div>

			<div class="ui blue horizontal medium label" ng-if="trainInfo.DailyTrainInfo.WheelchairFlag">
				輪椅
			</div>

			<div class="ui pink horizontal medium label" ng-if="trainInfo.DailyTrainInfo.BreastFeedingFlag">
				哺乳室
			</div>

			<div class="ui green horizontal medium label" ng-if="trainInfo.DailyTrainInfo.BikeFlag">
				自行車
			</div>

			{{ trainInfo.DailyTrainInfo.Note.Zh_tw | noteFormat }}
		</div>

	</div>
</div>

<div class="row" ng-if="trainInfo">

	<div class="ui sixteen wide column">
		<table class="ui unstackable basic definition table">
			<thead>
				<tr>
					<th class="four wide">詳細資料</th>
					<th class="four wide">
						<h4 class="ui header">抵達時間
							<div class="sub header">
								Arrival
							</div>
						</h4>
					</th>
					<th class="four wide">
						<h4 class="ui header">開車時間
							<div class="sub header">
								Departure
							</div>
						</h4>
					</th>
					<th class="four wide">
						<h4 class="ui header">行車時間
							<div class="sub header">
								Travel Time
							</div>
						</h4>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in trainInfo.StopTimes">
					<td>
						<h4 class="ui header">
							<i class="icon grey">{{ item.StopSequence }}</i>
							<div class="content pointer" ng-click="goToStationInfo(item.StationID)">
								{{ item.StationName.Zh_tw }}
								<div class="sub header">{{ item.StationName.En }}</div>
							</div>
						</h4>
					</td>
					<td>{{ item.ArrivalTime }}</td>
					<td>{{ item.DepartureTime }}</td>
					<td>{{ trainInfo.StopTimes[$index-1].DepartureTime | timeDiff: item.ArrivalTime}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
